{% extends "base.html" %}
<!-- we are inheriting the repeated codes from base.html file -->

{% block start %}
    
    <p>This is Practice page</p>
    <a href="/">Home</a>
    |
    <a href="/about/">About</a>
    |
    <a href="/contacts/">Contacts</a>

    <h1>This Template is return by Django server</h1>
    <hr>
    <table class="container">
        <tr>
          <th>S.No</th>
          <th>Name</th>
          <th>Age</th>
          <th>Can vote</th>
        </tr>
        {% for people in peoples_data %}
        <tr>
          <td>{{forloop.counter}}</td>
          <td>{{people.name}}</td>
          <td>{{people.age}}</td>
          <td {% if people.age < 18 %} style="background-color: red;" {% endif %}>
            {% if people.age >= 18 %}
            👍
            {% else %}
            👎
            {% endif %}
          </td>
        </tr>
        {% endfor %}
    </table> 
    <p>
        {% if "cucumber" in vegetables_data %}
            <h3>Yes, cucumber Available</h3>
        {% elif "Potato" in vegetables_data %}
            <h3>Potato in there </h3>
        {% else %}
            <h3>No, cucumber and potato Not Available</h3>
        {% endif %}
    </p>
    <p>
        {{text_lorem | truncatechars:100}}
    </p>

    {% endblock %}    